[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"


[project]
name = "nextcloudtalkbot"
version = "0.0.1"
authors = [
  { name="Massoud Ahmed", email="okko@okxo.de" },
]
description = "A small example package"
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.urls]
"Homepage" = "https://github.com/sowoi/nextcloud-cloud-talk-bot"
"Bug Tracker" = "https://github.com/sowoi/nextcloud-cloud-talk-bot/issues"