attrs==23.1.0
autopep8==2.0.2
beautifulsoup4==4.12.2
bleach==6.0.0
blis==0.7.9
build==0.10.0
cachetools==5.3.0
caldav==1.2.1
catalogue==2.0.8
cattrs==22.2.0
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
confection==0.0.4
coverage==7.2.5
cryptography==40.0.2
cymem==2.0.7
distlib==0.3.6
docopt==0.6.2
docutils==0.19
EditorConfig==0.12.3
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
exceptiongroup==1.1.1
filelock==3.12.0
flake8==6.0.0
ghp-import==2.1.0
httplib2==0.22.0
icalendar==5.0.5
idna==3.4
importlib-metadata==6.6.0
jaraco.classes==3.2.3
jeepney==0.8.0
Jinja2==3.1.2
joblib==1.2.0
jsbeautifier==1.14.7
keyring==23.13.1
langcodes==3.3.0
lxml==4.9.2
Markdown==3.3.7
markdown-it-py==2.2.0
MarkupSafe==2.1.2
mccabe==0.7.0
mdurl==0.1.2
mergedeep==1.3.4
mkdocs==1.4.2
mkdocs-build-plantuml-plugin==1.7.4
mkdocs-material==9.1.8
mkdocs-material-extensions==1.1.1
mkdocs-mermaid2-plugin==0.6.0
mkdocs-plantuml==0.1.1
more-itertools==9.1.0
murmurhash==1.0.9
nltk==3.8.1
numpy==1.24.3
packaging==23.1
pathy==0.10.1
pkginfo==1.9.6
plantuml-markdown==3.9.1
platformdirs==3.5.0
pluggy==1.0.0
preshed==3.0.8
pycodestyle==2.10.0
pycparser==2.21
pydantic==1.10.7
pyflakes==3.0.1
Pygments==2.15.0
pymdown-extensions==9.11
pyparsing==3.0.9
pyproject_api==1.5.1
pyproject_hooks==1.0.0
python-dateutil==2.8.2
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
pyyaml_env_tag==0.1
readme-renderer==37.3
recurring-ical-events==2.0.2
regex==2023.5.5
requests==2.29.0
requests-cache==1.0.1
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.3.5
SecretStorage==3.3.3
six==1.16.0
smart-open==6.3.0
soupsieve==2.4.1
spacy==3.5.2
spacy-download==1.1.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
spacytextblob==4.0.0
srsly==2.4.6
thinc==8.1.9
tomli==2.0.1
tox==4.5.1
tqdm==4.65.0
twine==4.0.2
typer==0.7.0
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
url-normalize==1.4.3
urllib3==1.26.15
virtualenv==20.23.0
vobject==0.9.6.1
wasabi==1.1.1
watchdog==3.0.0
webencodings==0.5.1
x-wr-timezone==0.0.5
zipp==3.15.0
